<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yancy.dao.BlogMapper">

    <insert id="addBlog" parameterType="com.yancy.entity.Blog">
        insert into blog (id, title, author, create_time, views)
        values (#{id}, #{title}, #{author}, #{createTime}, #{views});
    </insert>
    <select id="selectAllBlogs" resultType="com.yancy.entity.Blog">
        select * from blog;
    </select>

    <select id="selectByAuthorAndViews" parameterType="map" resultType="com.yancy.entity.Blog">
        select * from blog
        <where>
            <if test="author != null and author != ''">
                and author=#{author}
            </if>
            <if test="views != null and views !=''">
                and views>#{views}
            </if>
        </where>
    </select>

    <!-- 使用choose when语句时，第一个符合条件的语句执行，之后的不会再执行 -->
    <select id="selectByChoose" parameterType="map" resultType="com.yancy.entity.Blog">
        select * from blog
        <where>
            <choose>
                <when test="author!=null">
                    author=#{author}
                </when>
                <when test="views!=null">
                    and views>#{views}
                </when>
                <otherwise>
                    and title like '%博客%'
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>