<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 属性文件设置 -->
    <properties resource="mybatis/db.properties"/>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>    <!-- 日志实现，打印mybatis的sql语句 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 开启驼峰命名变量和下划线字段的映射 -->
        <setting name="cacheEnabled" value="true"/>         <!-- 开启二级缓存 -->
    </settings>
    <!-- 别名设置 -->
    <typeAliases>
        <typeAlias type="com.yancy.entity.User" alias="user"></typeAlias>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/mappers/UserMapper.xml"/>
        <mapper resource="mybatis/mappers/StudentMapper.xml"/>
        <mapper resource="mybatis/mappers/StudentMapper2.xml"/>
        <mapper resource="mybatis/mappers/BlogMapper.xml"/>
    </mappers>

</configuration>